

<div class="d-flex flex-row justify-content-center m-3">
    <div class="p-5 m-3">
        <h2>New Users Register Here</h2>
        <partial name="Register" />
    </div>
    <div class="p-5 m-3">
        <h2>Already Registered?</h2>
        <partial name="Login" />
    </div>
</div>